/* Container */
.grid {
  display: grid;
}

.grid-template-columns-1 {
  grid-template-columns: 100px 100px 100px 100px;
}

.grid-template-columns-2 {
  grid-template-columns: 1fr 2fr;
}

.grid-template-columns-3 {
  grid-template-columns: minmax(200px, 1fr) 1fr 1fr;
}

.grid-template-columns-4 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-template-columns-5 {
  grid-template-columns: repeat(auto-fit, 100px);
}

.grid-template-columns-6 {
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
}

.grid-template-columns-7 {
  grid-template-columns: repeat(auto-fill, minmax(100px, auto));
}
