.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 100px 100px 100px;
}

.start {
  justify-content: start;
}

.end {
  justify-content: end;
}

.center {
  justify-content: center;
}

.stretch {
  grid-template-columns: auto;
  justify-content: stretch;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.item-2,
.item-3 {
  grid-row: span 2;
}

.item-5 {
  grid-column: span 2;
}
